<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>填寫訂單資料</h4>
      <%= form_for(@order) do |f| %>
        <div class="row">
          <div class="col-5">
            <div class="field" style="margin-top: 30px;">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true %>
            </div>
          </div>
            <div class="col-6">
              <div class="field" style="margin-top: 30px;">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name %>
            </div>
          </div>
        </div>
        <div class="field" style="margin-top: 30px;">
              <%= f.label :address %><br />
              <%= f.text_field :address %>
            </div>
            <div class="field" style="margin-top: 30px;">
              <%= f.label :phone_number %><br />
              <%= f.text_field :phone_number %>
            </div>
            <div class="field" style="margin-top: 30px;">
              <%= f.hidden_field :order_price ,value: current_user.subtotal%>
            </div>
        <%= f.submit "Confirt", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="col-6">
      <%= render partial: "orders/cart"%>
    </div>
</div>